[Unit]
Description=Bot do Discord da Coders Community

[Service]
ExecStart=/root/go/bin/CodersGoBot/bot
WorkingDirectory=/root/go/bin/CodersGoBot
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target